//Primary-Colors
$theme-cyan: hsl(171, 66%, 44%);
$theme-light-blue: hsl(233, 100%, 69%);

//Neutral-Colors
$theme-dark-gray: hsl(210, 10%, 33%);
$theme-gray-blue: hsl(201, 11%, 66%);
$theme-white: hsl(0, 0%, 100%);
$theme-light-white: hsla(0, 0%, 100%, 0.8);