//font-families
$theme-font: 'Bai Jamjuree', sans-serif;

//font-weights
$normal: 400;
$bold: 600;

//theme-font-styles
$theme-header-style: $bold clamp(2rem, 3.5vw, 2.88rem) $theme-font;
$theme-subheader-style: $bold clamp(1.75rem, 3.5vw, 2.25rem) $theme-font;
$theme-paragraph-style: $normal clamp(1rem, 3.5vw, 1.25rem) $theme-font;