@use '../global/' as *;
@use '../components/' as *;

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.25rem;
    background-color: $theme-footer-gray;

    @include breakpoint (tablet) {
        padding: 1.25rem 1.25rem 0.31rem 1.25rem;
    }
}

.footer {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 71.88rem;
        padding: 1.25rem;
    }

    &__logo {
        max-width: 3.44rem;
        margin-bottom: 2.5rem;
    }

    &__nav {
        margin-bottom: 1.75rem;

        &-list {
            font-size: 1.13rem;
            text-align: center;
            line-height: 1.88rem;
            letter-spacing: 0.0088rem;
            @media screen and (max-width: 47.999rem) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &-listitem {
            margin-bottom: 1.25rem;
            width: fit-content;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        &-listitem {
            transition: transform 0.5s;
        }
    }

    @include hover {
        &__nav-listitem {
            position: relative;
            display: block;
            width: fit-content;
            transition: .5s;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                top: 100%;
                bottom: 0;
                left: 0;
                margin-top: -0.5rem;
                background-color: $theme-cyan;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .5s;
            }

            &:is(:hover, :focus, :active) {
                color: $theme-cyan;

                &::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }

        &__socials-listitem:is(:hover, :focus, :active) {
            transform: scale(1.1);
        }
    }

    @include breakpoint (tablet) {
        &__wrapper {
            flex-direction: row;
        }

        &__logo {
            margin-top: -0.63rem;
            margin-right: 8.38rem;
            margin-bottom: 0;
        }

        &__nav {
            margin-bottom: 0;

            &-list {
                columns: 3;
                column-gap: 4.5rem;
                text-align: start;
            }

            &-listitem {
                margin-bottom: 0.88rem;
            }
        }

        &__socials {
            gap: 1.5rem;
            margin-left: auto;
        }
    }
}